.alert.alert-primary.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
.alert.alert-info.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
.alert.alert-secondary.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
}
.alert.alert-success.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
.alert.alert-danger.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
.alert.alert-warning.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
.alert.alert-light.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
.alert.alert-dark.inline {
  border-color: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
  color var(--bs-alert-color) !important;
  font-weight: var(--cas-font-weight-bold) !important;
}
