<div class="offcanvas offcanvas-start left-navigation"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  data-bs-scroll="true"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h5 class="offcanvas-title"
      id="sidebarMenuLabel"
      style="display: flex; width: 100%; align-items: center;"
    >
      <div class="sidebar-header-logo">
        <img src="{{ '/img/CAS_logo.svg' | url }}" height="32px" alt="CASWOW logo" style="height: 32px;" />
        <span class="uppercase fs-3 text-wrap">CASim Online</span>
      </div>
    </h5>
  </div>
  <div class="offcanvas-body" style="overflow: scroll;">
    <div class="flex-shrink-0 p-3">
      <div class="sidebar-menu-expandable">
        <div class="sidebar-menu__row">
          <div class="menu-item__row">
            <a href="{{ '/' | url }}" class="menu-item__text text-decoration-none text-body {% if page.url == '/casWOW/' %}active{% endif %}">
              <span class="fs-4">Dashboard</span>
            </a>
          </div>
        </div>
      </div>
      <ul class="list-unstyled ps-0" id="sidebarAccordion">
        {% for item in sidebar %}
          <li class="mb-1">
            <button class="btn sidebar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#{{ item.name | slugify }}" aria-expanded="false">
              <span>{{ item.name }}</span>
            </button>
            <div class="collapse" id="{{ item.name | slugify }}" data-bs-parent="#sidebarAccordion">
              <ul class="sidebar-toggle-nav">
                {% for subitem in item.subitems %}
                  <li>
                    <a href="{{ subitem.url | url }}" class="sidebar-link {% if page.url == subitem.url %}active{% endif %}">
                      {{ subitem.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
