<div class="offcanvas offcanvas-start left-navigation"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  data-bs-scroll="true"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h5 class="offcanvas-title"
      id="sidebarMenuLabel"
      style="display: flex; width: 100%; align-items: center;"
    >
      <div class="sidebar-header-logo">
        <img src="{{ '/img/CAS_logo.svg' | url }}" height="32px" alt="CASWOW logo" style="height: 32px;" />
        <span class="uppercase fs-3 text-wrap">CASim Online</span>
      </div>
    </h5>
  </div>
  <div class="offcanvas-body" style="overflow: visible;">
    <div class="item-menu-dashboards">
      <div class="sidebar-menu">
        <div class="sidebar-menu-expandable">
          <div class="menu-item__row">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">Dashboard</a>
            </div>
            {% if entry.key === "Welcome, Username" %}
            <div class="menu-item__icon">
              <i class="fas fa-arrow-right"></i>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="sidebar-menu-expandable {% if '/costs' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">Costs</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            <li><a class="dropdown-item {% if '/costs/xpress' in page.url %}active{% endif %}" href="{{ '/costs/xpress' | url }}">CASim Xpress</a></li>
            <li><a class="dropdown-item {% if '/costs/project-costs' in page.url %}active{% endif %}" href="{{ '/costs/project-costs' | url }}">Project Costs</a></li>
            <li><a class="dropdown-item" href="#">Custom List (GC)</a></li>
            <li><a class="dropdown-item {% if '/costs/employees' in page.url %}active{% endif %}" href="{{ '/costs/employees' | url }}">Employee List</a></li>
            <li><a class="dropdown-item" href="#">Vendor List</a></li>
            <li><a class="dropdown-item" href="#">Comparative Analysis</a></li>
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">Analytics</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navAnalytics %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">PO Module</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navPOModule %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">EDI Module</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navEDIModule %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">Administration</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navAdmin %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">Plan Room</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navPlanRoom %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">RTU Module</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navRTUModule %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropend">
          <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menu-item__text fw-medium">
              <a href="{{ '/' | url }}">Quick View</a>
            </div>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <ul class="sidebar-menu-slideout dropdown-menu">
            {% for item in navQuickview %}
              {% if item.type === 'divider' %}
                <li><hr class="dropdown-divider"></li>
              {% else %}
                <li class="submenu-hover-parent position-relative">
                  {% if item.children and item.children.length %}
                    <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                      {{ item.title }}
                      <i class="fa fa-caret-right ms-2"></i>
                    </a>
                    <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-footer">
          <div class="sidebar-menu-expandable {% if '/analytics' in page.url %}active{% endif %} dropup">
            <div class="menu-item__row dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="menu-item__text fw-medium">
                <a href="{{ '/' | url }}">Developer</a>
              </div>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <ul class="sidebar-menu-slideout dropdown-menu">
              {% for item in navDeveloper %}
                {% if item.type === 'divider' %}
                  <li><hr class="dropdown-divider"></li>
                {% elseif item.type === 'header' %}
                  <li><h6 class="dropdown-header">{{ item.title }}</h6></li>
                {% else %}
                  <li class="submenu-hover-parent position-relative">
                    {% if item.children and item.children.length %}
                      <a class="dropdown-item d-flex justify-content-between align-items-center submenu-toggle" href="#">
                        {{ item.title }}
                        <i class="fa fa-caret-right ms-2"></i>
                      </a>
                      <ul class="submenu-dropdown dropdown-menu position-absolute start-100 top-0 mt-0 ms-1" style="display: none; min-width: 180px;">
                        {% for child in item.children %}
                          <li>
                            <a class="dropdown-item" href="{{ child.url | url }}">{{ child.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <a class="dropdown-item" href="{{ item.url | url }}">{{ item.title }}</a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="footer-details d-grid gap-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              About
            </button>
            <p class="footer-copyright mb-0">© 2025 CASim Online</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
