---
layout: base.njk
---

<div class="container-fluid pb-2 mb-2">
  <input type="radio" class="btn-check" name="options-base" id="active-employees" autocomplete="off" checked>
  <label class="btn" for="active-employees">Active</label>

  <input type="radio" class="btn-check" name="options-base" id="terminated-employees" autocomplete="off">
  <label class="btn" for="terminated-employees">Terminated</label>

  <input type="radio" class="btn-check" name="options-base" id="all-employees" autocomplete="off">
  <label class="btn" for="all-employees">All</label>
</div>

<div class="container-fluid">
  {% include "../_partials/alphabet-nav-pills.njk" %}
</div>

<div class="table-responsive-lg">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr class="table-primary">
        <th scope="col">Name</th>
        <th scope="col">Photo</th>
        <th scope="col">Project</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in employees %}
        <tr>
          <th scope="row">
            <a class="link" alt="Link to user profile">{{ item.name }}</a></th>
          <td>
            <img src="{{ ('/img/' + item.photo) | url }}" height="24px" width="24px" alt="Image of employee" />
          </td>
          <td>{{ item.project }}</td>
          <td>{{ item.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{{ content | safe }}
