---
layout : base.njk
---

<div class="alert alert-primary" role="alert">
  This page is purely for showing examples of components. It is not meant to be a page that users will navigate to, but rather a place for developers to see how components work and how they can be used together.
</div>

<!-- This is an example of how to display tables inside of an accordion. -->
<h2>Stacked Tables</h2>
<p>Here is an example of how to display tables inside of an accordion. This is useful for when you have a lot of data that you want to display, but you don't want to overwhelm the user with too much information at once. By using an accordion, you can allow the user to expand and collapse the tables as needed, making it easier for them to navigate through the data.</p>
{% include '../_partials/stacked-tables.njk' %}
