<header class="py-1 px-3 mb-1 sticky-top navigation">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">
      <button class="btn btn-outline-secondary icon-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" title="Menu">
        <span class="text-capitalize">Menu</span>
      </button>
      <a href="{{ '/' | url }}" class="d-flex align-items-center mb-2 mb-lg-0 link-secondary text-decoration-none">
        <img src="{{ '/img/Jolicoeur_SVG.svg' | url }}" height="32px" alt="CASWOW logo" />
      </a>

      <ul class="nav navbar-top col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{{ '/xpress' | url }}" class="nav-link px-2 link-secondary {% if '/xpress' in page.url %}active{%- endif -%}">XPress</a>
        </li>
        <li>
          <a href="{{ '/project-costs' | url }}" class="nav-link px-2 link-secondary {% if '/project-costs' in page.url %}active{%- endif -%}">Project Costs</a>
        </li>
        <li class="d-none d-lg-block">
          <a href="{{ '/pages/reports' | url }}" class="nav-link px-2 link-secondary {% if '/reports' in page.url %}active{%- endif -%}">Reports</a>
        </li>
        <li class="d-none d-lg-block">
          <a href="{{ '/pages/project-info' | url }}" class="nav-link px-2 link-secondary {% if '/project-info' in page.url %}active{%- endif -%}">Project Information</a>
        </li>
        <li class="d-none d-lg-block">
          <a href="{{ '/pages/vendor-info' | url }}" class="nav-link px-2 link-secondary {% if '/vendor-info' in page.url %}active{%- endif -%}">Vendor Information</a>
        </li>
      </ul>

      <span class="ms-auto">
        <button class="btn btn-sm btn-outline-primary position-relative" type="button">
          41 users
          <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border rounded-circle">
          <span class="visually-hidden">Online Users</span>
        </button></span>
        <button class="btn btn-sm btn-light border print me-2" type="button"><i class="icon print"></i> Print</button>
        <button class="btn btn-sm btn-light border export" type="button">Export</button>
      </span>

      <div class="dropdown text-end d-none d-lg-block">
        <a href="#" class="d-block link-secondary text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ '/img/Jolicoeur_SVG.svg' | url }}" alt="AdamJ" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="#">Access Level A</a></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">My Configuration</a></li>
          <li><a class="dropdown-item" href="#">Email Administrator</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>
