<header class="py-1 px-3 mb-1 sticky-top navigation">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" title="Menu">
        Menu
      </button>
      <a href="{{ '/' | url }}" class="d-flex align-items-center mb-2 mb-lg-0 link-secondary text-decoration-none">
        <img src="{{ '/img/CAS_logo.svg' | url }}" height="32px" alt="CASWOW logo" style="height: 32px;" />
      </a>

      <ul class="nav navbar-top col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{{ '/xpress' | url }}" class="nav-link px-2 link-secondary {% if '/xpress' in page.url %}active{%- endif -%}">XPress</a>
        </li>
        <li>
          <a href="{{ '/project-costs' | url }}" class="nav-link px-2 link-secondary {% if '/project-costs' in page.url %}active{%- endif -%}">Project Costs</a>
        </li>
        <li class="d-none d-lg-block">
          <a href="{{ '/reports' | url }}" class="nav-link px-2 link-secondary {% if '/reports' in page.url %}active{%- endif -%}">Reports</a>
        </li>
        <li class="d-none d-lg-block">
          <a href="{{ '/project-info' | url }}" class="nav-link px-2 link-secondary {% if '/project-info' in page.url %}active{%- endif -%}">Project Information</a>
        </li>
        <li class="d-none d-lg-block">
          <a href="{{ '/vendor-info' | url }}" class="nav-link px-2 link-secondary {% if '/vendor-info' in page.url %}active{%- endif -%}">Vendor Information</a>
        </li>
      </ul>

<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-sm btn-icon" type="button">Button</button>
  <button class="btn btn-sm btn-primary" type="button">Button</button>
</div>

      <div class="wa-cluster">
        <wa-button variant="neutral" appearance="outlined"><wa-icon name="print" label="Home"></wa-icon></wa-button>
        <wa-button variant="neutral" appearance="outlined"><wa-icon name="users" label="Home"></wa-icon></wa-button>
        <wa-button variant="neutral" appearance="outlined"><wa-icon name="file-export" label="Export"></wa-icon></wa-button>
      </div>

      <div class="dropdown text-end d-none d-lg-block">
        <a href="#" class="d-block link-secondary text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span style="font-size: 1.5rem; color: #4a90e2;">
            <wa-avatar label="User avatar"></wa-avatar>
          </span>
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="#">Access Level A</a></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">My Configuration</a></li>
          <li><a class="dropdown-item" href="#">Email Administrator</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>
