<div class="page-header">
  <div class="top-page-header">
    {%- if (breadcrumbs) -%}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for navPages in collections.all | eleventyNavigation %}
        <li class="breadcrumb-item"><a href="{{navPages.url}}">{{ eleventyNavigation.parent }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{eleventyNavigation.key}}</li>
      </ol>
    </nav>
    {# {{ collections.all | eleventyNavigationBreadcrumb("ProjectCosts", { includeSelf: true }) | eleventyNavigationToHtml | safe }}
    {{ navPages | dump | safe }} #}
    {%- else -%}{%- endif -%}
  </div>
  <div class="page-header-text">
    <div class="logo-text-badge-link">
      <div class="header-subheader">
        <div class="header-label">
          <span class="h2">
            {{ title }}
          </span>
          {%- if (badge) -%}
          <span class="badge bg-secondary">
            {{ badgeText }}
          </span>
          {%- else -%}{%- endif -%}
        </div>
      </div>
    </div>
    {%- if (toolBar) -%}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      {%- if toolbar === "btn-group" -%}
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-secondary">1</button>
        <button type="button" class="btn btn-outline-secondary">2</button>
        <button type="button" class="btn btn-outline-secondary">3</button>
        <button type="button" class="btn btn-outline-secondary">4</button>
      </div>
      {%- endif -%}
      {%- if toolBar === "input" -%}
      <div class="input-group">
        <div class="input-group-text" id="btnGroupAddon">@</div>
        <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
      </div>
      {%- endif -%}
      {%- if toolBar === "buttons" -%}
      <div class="d-flex gap-2">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-calendar"></i> {{ toolbarButtonOne }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-building"></i> {{ toolbarButtonTwo }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      {%- endif -%}
    </div>
    {%- endif -%}
  </div>
  {%- if (tabBar) -%}
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Inactive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Complete</a>
    </li>
  </ul>
  {%- else -%}{%- endif -%}
</div>
