---
layout : base.njk
---
<ul class="nav nav-pills border-bottom pb-2 mb-2">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
      Active
      <span class="badge text-bg-light">45</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      Inactive
      <span class="badge text-bg-dark">20</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      Complete
      <span class="badge text-bg-success">72</span>
    </a>
  </li>
</ul>

<div class="table-responsive-lg">
  <table class="table table-striped table-hover table-sm table-sticky-header">
    <thead>
      <tr class="table-primary">
        <th scope="col"></th>
        <th scope="col">Project</th>
        <th scope="col">ToDate Costs</th>
        <th scope="col">Total Proj Costs</th>
        <th scope="col">Contract Total</th>
        <th scope="col">Pending COs</th>
        <th scope="col">Billed ToDate</th>
        <th scope="col">Payments Received</th>
        <th scope="col">Unbilled Costs</th>
      </tr>
    </thead>
    <tbody>
      {% for data in costs %}
        <tr>
          <th scope="row" class="text-center" style="width: 90px;">
            <a
              href="{{ '/art-chart' | url }}"
              class="text-decoration-none"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="casim-custom-tooltip"
              data-bs-title="Show art chart"
            >
              <i class="fa-solid fa-chart-area"></i>
            </a>
            <div class="vr mx-2"></div>
            <a
              href="{{ '/project-analysis' | url }}"
              class="text-decoration-none"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="casim-custom-tooltip"
              data-bs-title="Show project analysis"
            >
              <i class="fa-solid fa-diagram-project"></i>
            </a>
          </th>
          <td class="d-flex align-items-center gap-1">
            <span class="badge rounded-pill text-bg-primary">{{ data.badge }}</span>
            <a href="/casWOW/costs/cost-summary" class="flex-grow-1 fw-bold">{{ data.project }}</a>
            {% if data.budgetStatus == "Over Budget" %}
              <span class="badge rounded-pill badge text-bg-danger bg-transparent border border-danger text-danger">{{ data.budgetStatus }}</span>
            {% endif %}
          </td>
          <td>
            <a
              href="/casWOW/summary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="arch-progress-tooltip"
              data-bs-title="Show to-date costs"
            >
              {{ data.toDateCosts }}
            </a>
          </td>
          <td>
            <a
              href="/casWOW/summary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="arch-progress-tooltip"
              data-bs-title="Show total project costs"
            >
              {{ data.totalProjCosts }}
            </a>
          </td>
          <td>
            <a
              href="/casWOW/summary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="arch-progress-tooltip"
              data-bs-title="Show contract totals"
            >
              {{ data.contractTotal }}
            </a>
          </td>
          <td>
            <a
              href="/casWOW/summary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="arch-progress-tooltip"
              data-bs-title="Show pending change orders"
              {% set delta = data.pendingCOs | int %}
              {%- if delta < 0 -%}
                class="text-danger"
              {%- elseif data.pendingCOs == "0" -%}
                class="text-neutral"
              {%- else -%}
              {%- endif -%}
            >
              {{ data.pendingCOs }}
            </a>
          </td>
          <td>
            <a
              href="/casWOW/summary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="arch-progress-tooltip"
              data-bs-title="Show billed-to-date"
            >
              {{ data.billedToDate }}
            </a>
          </td>
          <td>{{ data.paymentsReceived }}</td>
          <td>{{ data.unbilledCosts }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link disabled">
        <i class="fa-solid fa-angle-left"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link disabled">
        <i class="fa-solid fa-angles-left"></i>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#" aria-current="page">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link">
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </li>
  </ul>
</nav>
</div>
