---
layout : base.njk
---

<ul class="nav nav-pills border-bottom pb-2 mb-2">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Inactive</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Complete</a>
  </li>
</ul>

  <div class="table-responsive-lg">
    <table class="table table-striped table-hover table-sm table-sticky-header">
      <thead>
        <tr class="table-primary">
          <th scope="col"></th>
          <th scope="col">Project</th>
          <th scope="col">Budget hours</th>
          <th scope="col">Equated hours</th>
          <th scope="col">Actual hours</th>
          <th scope="col">Delta hours</th>
          <th scope="col"># Days</th>
          <th scope="col">% Complete</th>
          <th scope="col">% Update</th>
          <th scope="col">Times updated</th>
          <th scope="col">Budget updated</th>
        </tr>
      </thead>
      <tbody>
        {% for data in xpress %}
          <tr>
            <th scope="row" class="text-center" style="width: 90px;">
              {%- if data.plans === "true" -%}
                <a
                  href="{{ '/plans' | url }}"
                  class="text-decoration-none"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-custom-class="casim-custom-tooltip"
                  data-bs-title="314 drawings | 5 revisions"
                >
                  <i class="fa-solid fa-file-image"></i>
                </a>
                <div class="vr mx-2"></div>
                <a
                  href="{{ '/art-chart' | url }}"
                  class="text-decoration-none"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-custom-class="casim-custom-tooltip"
                  data-bs-title="Art chart"
                >
                  <i class="fa-solid fa-chart-area"></i>
                </a>
              {%- else -%}
              {%- endif -%}
            </th>
            <td>
              <span class="badge rounded-pill text-bg-primary">{{ data.badge }}</span>
              <a href="" class="flex-grow-1 fw-bold">{{ data.project }}</a>
            <td>
              <a
                href="/casWOW/summary"
                style="width: 100%"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="arch-progress-tooltip"
                data-bs-title="Show budget hours"
              >
                {{ data.budget }}
              </a>
            </td>
            <td>{{ data.equated }}</td>
            <td>
              <a
                href="/casWOW/summary"
                style="width: 100%"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="arch-progress-tooltip"
                data-bs-title="Show manpower chart"
              >
                {{ data.actual }}
              </a>
            </td>
            <td>
              {% set delta = data.delta | int %}
              {%- if delta < 0 -%}
                <span style="color: red;">({{ data.delta }})</span>
              {%- elseif data.delta == "0" -%}
                <span class="text-neutral">{{ data.delta }}</span>
              {%- else -%}
                <span>{{ data.delta }}</span>
              {%- endif -%}
            </td>
            <td>
              <a
                href="/casWOW/summary"
                style="width: 100%"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="arch-progress-tooltip"
                data-bs-title="Show labor days"
              >
                {{ data.days }}
              </a>
            </td>
            <td>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow={{ data.percent }} aria-valuemin="0" aria-valuemax="100">
                {% set percent = data.percent | int %}
                {%- if data.percent <= 20 -%}
                <a
                  href="/casWOW/summary"
                  style="width: 100%"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="arch-progress-tooltip"
                  data-bs-title="Show category summary"
                >
                  <div
                    class="progress-bar bg-secondary"
                    style="width: {{ percent }}%">
                  </div>
                </a>
                {%- elseif percent > 21 and percent < 50 -%}
                <a
                  href="/casWOW/summary"
                  style="width: 100%"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="arch-progress-tooltip"
                  data-bs-title="Show category summary"
                >
                <div
                  class="progress-bar bg-danger"
                  style="width: {{ percent }}%"
                >
                  {{ percent }}
                </div>
                </a>
                {%- elseif percent >= 50 and percent < 100 -%}
                <a
                  href="/casWOW/summary"
                  style="width: 100%"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="arch-progress-tooltip"
                  data-bs-title="Show category summary"
                >
                  <div
                    class="progress-bar bg-primary"
                    style="width: {{ percent }}%">{{ percent }}
                  </div>
                </a>
                {%- elseif percent === 100 -%}
                <a
                  href="/casWOW/summary"
                  style="width: 100%"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="arch-progress-tooltip"
                  data-bs-title="Show category summary"
                >
                  <div
                    class="progress-bar bg-success"
                    style="width: {{ percent }}%">{{ percent }}
                  </div>
                </a>
                {%- endif -%}
              </div>
            </td>
            <td>{{ data.update }}</td>
            <td>{{ data.timesUpdated }}</td>
            <td>{{ data.budgetUpdated }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
