/* Buttons */
.btn {
  border-radius: var(--Spacer-x-small) !important;
  padding: var(--Spacer-x-small) var(--Spacer-large);
  gap: var(--Spacer-3x-small);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: var(--background-brand) !important;
  border: 1px solid var(--border-brand) !important;
  color: var(--text-on-brand) !important;
  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  .btn-show,
  .btn-active {
    background-color: var(--background-hover-brand) !important;
    border: 1px solid var(--border-hover) !important;
    color: var(--text-on-brand) !important;
  }
}
.btn-outline-primary {
  border: 1px solid var(--border-brand) !important;
  background-color: var(--background-transparent) !important;
}
.btn-outline-secondary {
  border: 1px solid var(--border-primary) !important;
  background-color: var(--background-transparent) !important;
  color: var(--text-primary) !important;
  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    border: 1px solid var(--border-primary) !important;
    background-color: var(--background-inverted) !important;
    color: var(--text-inverted) !important;
  }
}
