:root {
  --Font-Size-3x-small: 0.5rem;
  --Font-Size-2x-small: 0.625rem;
  --Font-Size-x-small: 0.75rem;
  --Font-Size-small: 0.875rem;
  --Font-Size-medium: 1rem;
  --Font-Size-large: 1.25rem;
  --Font-Size-x-large: 1.5rem;
  --Font-Size-2x-large: 2.25rem;
  --Font-Size-3x-large: 3rem;
  --Font-Size-4x-large: 4.5rem;
  --Font-line-height-normal: normal;
  --Font-style-normal: normal;
  --Font-style-italic: italic;
  --Font-letter-spacing-negative: -2px;
  --Font-letter-spacing-default: 1.5px;
  --Font-weight-thin: 300;
  --Font-weight-normal: 400;
  --Font-weight-medium: 500;
  --Font-weight-bold: 600;
  --Font-weight-heavy: 900;
}
h1, .H1 {
  font-size: var(--Font-Size-2x-large);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.ItalicH1 {
  font-size: var(--Font-Size-2x-large);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.Subheader-H1 {
  font-size: var(--Font-Size-2x-large);
  font-weight: var(--Font-weight-thin);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.ItalicSubheader-H1 {

  font-size: var(--Font-Size-2x-large);
  font-weight: var(--Font-weight-thin);
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
h2, .H2, .Heading2 {

  font-size: var(--Font-Size-x-large);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.ItalicH2 {
  font-size: var(--Font-Size-x-large);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.Subheader-H2 {
  font-size: var(--Font-Size-x-large);
  font-weight: var(--Font-weight-thin);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.ItalicSubheader-H2 {
  font-size: var(--Font-Size-x-large);
  font-weight: var(--Font-weight-thin);
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
h3, .H3 {
  font-size: var(--Font-Size-large);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
.ItalicH3 {
  font-size: var(--Font-Size-large);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: var(--Font-letter-spacing-negative);
}
h4, h5, h6,
.H4, .H5, .H6 {
  font-size: var(--Font-Size-medium);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
}
.ItalicH4, .ItalicH5, .ItalicH6 {
  font-size: var(--Font-Size-medium);
  font-weight: var(--Font-weight-bold);
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: -1px;
}
.BodyBoldParagraph-Uppercase {
  font-size: var(--Font-Size-small);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyBoldParagraph {
  font-size: var(--Font-Size-small);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyItalicParagraph-Bold {
  font-size: var(--Font-Size-small);
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
}
p,
.paragraph,
.BodyParagraph-Medium {
  font-size: var(--Font-Size-small);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.IconsFont-Awesome-6-Pro-Solid {
  font-family: FontAwesome6Pro-Solid;
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
code,
.code,
.BodyCode {
  font-family: var(--bs-font-monospace);
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
}
.BodyItalicParagraph {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
}
.BodyItalicLabel {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
}
.BodyStrikethrough {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyParagraph {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.link,
.BodyLink {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyLabelUppercase-14 {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyLabelLabel-14 {
  font-size: var(--Font-Size-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodySmall-medium {
  font-size: var(--Font-Size-x-small);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyItalicSmall {
  font-size: var(--Font-Size-x-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
}
small,
.small,
.BodySmall {
  font-size: var(--Font-Size-x-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyLink-small {
  font-size: var(--Font-Size-x-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyLabelUppercase-12 {
  font-size: var(--Font-Size-x-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyLabelLabel-12 {
  font-size: var(--Font-Size-x-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.BodyHelpers {
  font-size: var(--Font-Size-x-small);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
