/* stylelint-disable @stylistic/number-leading-zero */
/* stylelint-disable order/properties-order */
.left-navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: var(--Spacer-none, 0);
  width: 18rem !important;
  height: 100%;
  padding: var(--Spacer-none, 0) 0;
  background: var(--background-primary, #fff);
  border-right: 1px solid var(--border-secondary, #c8d3d9);
  &:not(a) {
    color: var(--base-cas-brown, #0e0800);
  }
}
.product-logo {
  display: flex;
  gap: var(--Spacer-x-small, 0.5rem);
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: var(--Spacer-x-small, 0.5rem) 0;
}
icon-button {
  display: flex;
  padding: var(--Spacer-x-small, 0.5rem) 0;
  justify-content: center;
  align-items: center;
  gap: var(--Spacer-x-small, 0.5rem);
  align-self: stretch;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  border-radius: var(--corner-radius-small, 0.25rem);
  border: var(--border-width-width-md, 1px) solid
    var(--border-secondary, #c8d3d9);
  background: var(--background-transparent, rgba(255, 255, 255, 0));
}
.product-name {
  color: var(--base-cas-brown, #0e0800);
}
.item-menu-dashboards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  display: flex;
  width: 17.5rem;
  flex-direction: column;
  align-items: flex-start;
}
.menu-active {
  width: 0.25rem;
  height: 2.125rem;
  position: absolute;
  left: 0.125rem;
  top: 0.0625rem;
  border-radius: var(--corner-radius-radius-button, 0.5rem);
  background: var(--border-active, #005d93);
}
.menu-item {
  display: flex;
  padding: var(--Spacer-x-small, 0.5rem) var(--Spacer-2x-small, 0.25rem)
    var(--Spacer-x-small, 0.5rem) var(--Spacer-2x-small, 0.25rem);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.frame-2 {
  display: flex;
  align-items: center;
  gap: var(--Spacer-x-small, 0.5rem);
  align-self: stretch;
}
.menu-item__icon {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.125rem 0.1875rem;
  justify-content: center;
  align-items: center;
}

.menu-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.menu-item__text {
  display: flex;
  flex: 1 0 0;
  color: var(--cas-body-color, #20252c) !important;
  font-size: calc(var(--cas-body-font-size) * 0.875);
  font-style: normal;
  font-weight: var(--cas-body-font-weight);
  line-height: normal;
  align-items: center;
  text-decoration: none;
  &::before {
    content: '';
    position: relative;
    left: -1rem;
    top: 0;
    border-left: 4px solid;
    border-left-color: transparent;
    height: 32px;
    align-items: center;
  }
  a {
    color: var(--cas-body-color);
    text-decoration: none;
  }
}
.menu-item__text:focus::before,
.menu-item__text:active::before,
.menu-item__text.active::before {
  content: '';
  position: relative;
  left: 0;
  top: 0;
  border-left: 4px solid;
  border-left-color: var(--cas-blue);
  border-radius: var(--cas-border-radius-sm);
  height: 32px;
  align-items: center;
}
.menu-item__text.active.active {
  font-weight: 700;
  color: var(--cas-link-color) !important;
}
/* .menu-item__text.active {
  background: linear-gradient(to right, var(--cas-blue), var(--cas-100));
} */
.menu-item__text-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  align-self: normal;
  flex: 1 0 0;
  padding: var(--Spacer-small) var(--Spacer-x-small);
  cursor: pointer;
  border-bottom: 4px solid;
  border-bottom-color: transparent;
}
.menu-item__text-header:hover,
.menu-item__text-header:focus,
.menu-item__text-header:active,
.menu-item__text-header[aria-expanded='true'] {
  width: 80%;
  border-bottom: 4px solid;
  border-bottom-color: var(--cas-light-border-subtle);
}
.menu-item__text-header[aria-expanded='false']::after {
  font-family: var(--fa-style-family-classic);
  content: '\f107';
  right: 24px;
  position: absolute;
}

.menu-item__text-header[aria-expanded='true']::after {
  font-family: var(--fa-style-family-classic);
  content: '\f105';
  position: absolute;
  right: 24px;
}
.menu-item__section {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
}
.section-item {
  padding: var(--Spacer-2x-small) var(--Spacer-2x-large) var(--Spacer-2x-small)
    var(--Spacer-2x-large);
  width: 100%;
  cursor: pointer;
  border-radius: var(--cas-border-radius-sm);
  &:first-of-type {
    margin-top: var(--Spacer-x-small);
  }
  &:hover {
    background-color: var(
      --cas-tertiary-bg
    ); /* change to background-transparent-brand */
  }
}
.section-item .compound:hover {
  background-color: transparent; /* change to background-transparent-brand */
}
.section-item__text:hover {
  color: var(--text-hover-link);
}
.section-item__text:active,
.section-item__text:focus {
  color: var(--text-link);
}
/* .section-item:has(.menu-item__text.active) {
  background: linear-gradient(to right, var(--cas-blue) 4px, var(--cas-body-bg) 4px 100%);
  border-radius: 0;
} */
.item-menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--cas-body-bg);
}
.divider {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid var(--cas-light-border-subtle);
}
