@import "variables.css";
@import "cas-sidebar.css";
@import "typography.css";
@import "breadcrumbs.css";
@import "buttons.css";
@import "page-header.css";
@import "navbar.css";

body {
  font: 1rem/1.5 var(--bs-font-sans-serif) !important;
  font-weight: var(--bs-body-font-weight) !important;
}
.gap-1 {
  gap: var(--Spacer-x-small) !important;
}
.gap-2 {
  gap: var(--Spacer-small) !important;
}
.gap-3 {
  gap: var(--Spacer-medium) !important;
}
.gap-4 {
  gap: var(--Spacer-large) !important;
}
.gap-5 {
  gap: var(--Spacer-x-large) !important;
}

a {
  color: var(--text-link) !important;
  &:hover,
  &:active {
    color: var(--text-hover-link) !important;
  }
  &:disabled,
  &.disabled,
  .disabled {
    color: var(--text-disabled) !important;
  }
  &.sidebar-link:not(i) {
    vertical-align: middle !important;
  }
}
