@import "solid.css";
@import "variables.css";
@import "typography.css";
/* @import "alerts.css"; */
/* @import "breadcrumbs.css"; */
/* @import "buttons.css"; */
/* @import "cards.css"; */
@import "cas-sidebar.css";
/* @import "dropdowns.css"; */
/* @import "icon-list.css"; */
/* @import "pagination.css"; */
/* @import "page-header.css"; */
/* @import "popover.css"; */
@import "navbar.css";
@import "print.css";

body {
  font: 1rem/1.5 var(--bs-font-sans-serif) !important;
  font-weight: var(--bs-body-font-weight) !important;
  background: #0F123B;
  background: radial-gradient(circle, rgba(15, 18, 59, 1) 0%, rgba(9, 13, 46, 1) 50%, rgba(2, 5, 21, 1) 100%);
}
.gap-1 {
  gap: var(--Spacer-x-small) !important;
}
.gap-2 {
  gap: var(--Spacer-small) !important;
}
.gap-3 {
  gap: var(--Spacer-medium) !important;
}
.gap-4 {
  gap: var(--Spacer-large) !important;
}
.gap-5 {
  gap: var(--Spacer-x-large) !important;
}

a {
  color: var(--text-link) !important;
  &:hover,
  &:active {
    color: var(--text-hover-link) !important;
  }
  &:disabled,
  &.disabled,
  .disabled {
    color: var(--text-disabled) !important;
  }
  &.sidebar-link:not(i) {
    vertical-align: middle !important;
  }
}
