@import url('variables.css');
@import url('theme.css');
@import url('caswow.css');

.icon-left,
.icon-right {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
}

.icon-left svg,
.icon-right svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  fill: currentColor;
  transition: 0.2s ease-in-out transform;
}
