---
cardTitle: "Company Summary"
activeJobCount: "104"
budgetHours: "1,695,618"
budgetDollars: "$156,510,389"
activeHours: "1,049,413"
actualDollars: "$106,283,204"
amountInvoiced: "$299,294,300"
retainage: "$14,440,621"
amountPaid: "$276,726,819"
---
<div class="card w-100  mb-3">
  <div class="card-header">
    <h5 class="card-title">{{ cardTitle }}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p class="card-text mb-1">Active jobs</p>
        <p class="text-body-secondary">{{ activeJobCount }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Budget hours</p>
        <p class="text-body-secondary">{{ budgetHours }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Budget dollars</p>
        <p class="text-body-secondary">{{ budgetDollars }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Active hours</p>
        <p class="text-body-secondary">{{ activeHours }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Actual dollars</p>
        <p class="text-body-secondary">{{ actualDollars }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Amount invoiced</p>
        <p class="text-body-secondary">{{ amountInvoiced }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Retainage</p>
        <p class="text-body-secondary">{{ retainage }}</p>
      </div>
      <div class="col">
        <p class="card-text mb-1">Amount paid</p>
        <p class="text-body-secondary">{{ amountPaid }}</p>
      </div>
    </div>
  </div>
</div>
