<div class="card mb-3 custom-placeholder">
  <div class="row g-0">
    <div class="card-header">
      <h5 class="card-title">Location Costs</h5>
    </div>
    <div style=
      "display: flex;
      padding: 0 var(--cas-space-m);
      justify-content: center;
      align-items: center;
      align-self: stretch;"
    >
      {% for jobCashflow in jobCashflow %}
        {% set widgetTitle = jobCashflow.widgetTitle %}
        {% set widgetPercentage = jobCashflow.widgetPercentage %}
        {% set widgetNumber = jobCashflow.widgetNumber %}
        <div data-state="Default" style="width: 100%; height: 100%; padding: .75rem; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: .5rem; display: inline-flex">
          <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="text-align: center; color: var(--Text-secondary, #5A7180); word-wrap: break-word">{{widgetTitle}}</div>
            <div style="text-align: center; color: var(--Text-secondary, #5A7180); font-size: 12px;word-wrap: break-word">{{widgetPercentage}}</div>
            </div>
            <div style="text-align: center; color: var(--Text-primary, #20252C); font-size: 16px; word-wrap: break-word">{{widgetNumber}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
