<div class="card mb-3 custom-placeholder">
  <div class="row g-0">
    <div class="card-body">
      <h5 class="card-title">Location Costs</h5>
      <div class="row">
        {% for jobCashflow in jobCashflow %}
          {% set widgetTitle = jobCashflow.widgetTitle %}
          {% set widgetPercentage = jobCashflow.widgetPercentage %}
          {% set widgetNumber = jobCashflow.widgetNumber %}
          {% set isNegative = jobCashflow.isNegative %}
          {% set isWarning = jobCashflow.isWarning %}
          <div data-state="Default" class="col-6 col-sm-4 col-md-2">
            {% if isNegative %}
              <div class="card-widget widget-danger">
                <div class="card-widget-header">
                  <small class="text-muted">{{ widgetTitle }}</small>
                  <small class="text-danger">{{ widgetPercentage }}</small>
                </div>
                <p class="mb-0 fw-medium">
                  {{ widgetNumber }}
                </p>
              </div>
            {% elseif isWarning %}
              <div class="card-widget widget-warning">
                <div class="card-widget-header">
                  <small class="text-muted">{{ widgetTitle }}</small>
                  <small class="text-warning">{{ widgetPercentage }}</small>
                </div>
                <p class="mb-0 fw-medium">
                  {{ widgetNumber }}
                </p>
              </div>
            {% else %}
              <div class="card-widget">
                <div class="card-widget-header">
                  <small class="text-muted">{{ widgetTitle }}</small>
                  <small class="text-muted">{{ widgetPercentage }}</small>
                </div>
                <p class="mb-0 fw-medium">
                  {{ widgetNumber }}
                </p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
